.blog {
  box-sizing: border-box;
  // height: 500rem;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  margin: 0 auto;
  img {
    width: 100%;
  }

  header {
    grid-area: header;
    background-image: url(../../bar-final-assets/blog-header-1.jpg);
    background-attachment: scroll;
    background-size: contain;
    height: 50rem;
    h2 {
      @include subHeaderFont(8.32);
    }
  }

  .mainGrid {
    grid-area: main;
    // display: flex;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "aside mainContent"
      "aside mainContent"
      ". mainContent";
    gap: 8rem;
    justify-items: end;
    position: relative;
    // padding: 3rem;

    a,
    .dateText {
      font-weight: 400;
      font-size: 3.9rem;
      letter-spacing: 1.9px;
      color: $lightAccent;
    }

    .mainContent {
      grid-area: mainContent;

      .textBox,
      .commentsSection,
      .formSection {
        padding: 6rem;
      }

      .menuSection {
        border: solid 4px $lightAccent;
        border-right: none;
        position: relative;
        right: 0;
        top: -8rem;

        img {
          position: relative;
          right: -2.2rem;
          top: -2.4rem;
          -webkit-box-shadow: -2.2rem 2.2rem 0px 0px rgba(255, 131, 39, 1);
          -moz-box-shadow: -2.2rem 2.2rem 0px 0px rgba(255, 131, 39, 1);
          box-shadow: -2.2rem 2.2rem 0px 0px rgba(255, 131, 39, 1);
        }
      }

      .commentsSection {
        padding-bottom: 0;
      }

      .commentFlex {
        display: flex;
        // align-items: flex-start;
        justify-content: space-between;

        .textBox {
          padding-top: 0;
          padding-left: 2rem;
          width: 100%;

          h3 {
            display: inline-block;
            vertical-align: top;
          }
        }

        .imgBox1 {
          background: url(../../bar-final-assets/comment-image-1.jpg);
        }

        .imgBox2 {
          background: url(../../bar-final-assets/comment-image-2.jpg);
        }

        .imgBox {
          width: 10rem;
          height: 10rem;
          margin: 1rem 0 1rem 0;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .formSection {
        padding-top: 0;
      }

      form {
        width: 100%;
        display: grid;
        grid-template-rows: auto 30rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "userName userEmail"
          "userComments userComments";
        gap: 4rem;
        // row-gap: 2rem;

        input,
        textarea {
          width: 100%;
          background-color: $backgroundColorPrimary;
        }

        input {
          height: 4rem;
          border: none;
          border-bottom: solid 2px $lightAccent;
        }

        .userNameBox {
          grid-area: userName;
        }

        .userEmailBox {
          grid-area: userEmail;
        }

        textarea {
          grid-area: userComments;
          border: solid 2px $lightAccent;
          padding: 3rem;

          &::placeholder {
            font-family: $baseFont;
            color: white;
            opacity: 1;
          }
        }
      }
    }

    aside {
      grid-area: aside;
      background-color: $backgroundColorSecondary;
      // margin: 0 3rem;

      width: 328px;
      position: relative;
      top: 10rem;

      .imgBox {
        width: 350px;
        position: relative;
        top: -2rem;
        left: -6rem;
      }

      .textBox {
        margin: 2.5rem;
      }

      ul {
        list-style: initial;
        // white-space: nowrap;
      }
    }

    footer {
      grid-area: footer;
    }
  }
}
