.blogBody {
	// @include devBorder(orangered);
	.outerWrapper {
		box-sizing: border-box;
		// height: 500rem;
		// display: grid;
		// grid-template-areas:
		// 	"header"
		// 	"main"
		// 	"footer";
		margin: 0 auto;
	}

	h2 {
		@include subHeaderFont(8.32);
	}

	.blogHeader {
		grid-area: header;
		background-image: url(../../bar-final-assets/blog-header-1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 400px;
	}

	.headerContent {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.features {
		padding: 0 0 0 6rem;
	}

	.mainFlex {
		grid-area: main;

		display: flex;
		justify-content: space-between;
		display: relative;
	}

	a,
	.dateText {
		font-weight: 400;
		font-size: 3.9rem;
		letter-spacing: 1.9px;
	}

	.dateText {
		color: $lightAccent;
	}

	.mainContent {
		width: 65%;
		position: relative;
		top: -15rem;

		.textBox,
		.commentsSection,
		.formSection {
			padding: 6rem;
		}

		.menuSection {
			display: grid;
			grid-template-columns: 1fr 2.2rem;
			grid-template-areas: "menuContent .";
			border: solid 4px $lightAccent;
			border-right: none;
			position: relative;
			right: -2rem;

			.menuContent {
				grid-area: menuContent;
			}

			img {
				position: relative;
				right: -2.2rem;
				top: -2.2rem;
				-webkit-box-shadow: -2.2rem 2.2rem 0px 0px rgba(255, 131, 39, 1);
				-moz-box-shadow: -2.2rem 2.2rem 0px 0px rgba(255, 131, 39, 1);
				box-shadow: -2.2rem 2.2rem 0px 0px rgba(255, 131, 39, 1);
			}
		}

		.commentsSection {
			padding: 6rem 0 0 6rem;
		}

		.commentFlex {
			display: flex;
			justify-content: space-between;

			.textBox {
				padding-top: 0;
				padding-left: 2rem;
				width: 100%;

				h3 {
					display: inline-block;
					vertical-align: top;
				}
			}

			.imgBox1 {
				background: url(../../bar-final-assets/comment-image-1.jpg);
			}

			.imgBox2 {
				background: url(../../bar-final-assets/comment-image-2.jpg);
			}

			.imgBox {
				width: 10rem;
				height: 10rem;
				margin: 1rem 0 1rem 0;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		.formSection {
			padding-top: 0;
		}

		form {
			input,
			textarea {
				background-color: $backgroundColorPrimary;
			}

			input {
				border-bottom: solid 2px $lightAccent;
			}

			textarea {
				border: solid 2px $lightAccent;
			}
		}
	}

	aside {
		background-color: $backgroundColorSecondary;

		width: 380px;
		height: 900px;
		position: relative;
		top: 10rem;
		left: 5rem;

		.imgBox {
			width: 420px;
			position: relative;
			top: -2rem;
			left: -7rem;
		}

		p {
			margin-bottom: 1rem;
		}

		a {
			line-height: 3rem;
			color: $lightAccent;

			#{$aTagsHover} {
				color: white;
			}
		}

		.textBox {
			margin: 2.5rem;
		}

		ul {
			list-style: none;
		}

		li {
			padding-left: 2rem;
			position: relative;

			&::before {
				content: "\2022";
				color: $darkAccent;
				font-weight: 700;
				line-height: 3rem;
				display: inline-block;
				width: 1em;
				position: absolute;
				left: -5px;
			}

			&:hover,
			&:focus {
				&::before {
					color: white;
					font-size: 3rem;
				}
			}
			a {
				color: white;

				#{$aTagsHover} {
					color: $lightAccent;
				}
			}
		}
	}
	footer {
		grid-area: footer;
	}

	// MEDIA QUERIES
	@media (max-width: 1200px) {
		aside {
			left: 0;
		}
	}

	@media (max-width: 940px) {
		.blogHeader {
			height: 200px;
		}

		.mainFlex {
			flex-direction: column-reverse;
		}

		.mainContent {
			width: 100%;
			top: 0;
		}

		.menuSection,
		aside {
			top: 0;
		}

		aside {
			width: 100%;
			max-height: 500px;
			display: flex;
			align-items: center;
			padding: 6rem;
			.imgBox {
				grid-area: imgBox;
				position: static;
				width: 100%;
			}
			.textBox {
				margin: 0;
				margin-left: 4rem;
			}
		}
	}

	@media (max-width: 700px) {
		.features {
			width: 100%;
			padding: 5rem 2.5rem 0 0;
			text-align: center;

			h2 {
				color: $lightAccent;
				// margin: 0 auto;
			}
		}

		aside {
			height: 350px;

			.imgBox {
				display: none;
			}

			.textBox {
				width: 50%;

				p,
				a {
					font-size: 3rem;
				}
			}

			.textBoxesContainer {
				display: flex;
				// width: 100%;
			}
		}

		main {
			h2 {
				font-size: 6rem;
			}

			p,
			a,
			h3 {
				font-size: 3rem;
			}
		}
	}

	@media (max-width: 650px) {
		form {
			grid-template-rows: auto auto 25rem;
			grid-template-columns: 1fr;
			grid-template-areas:
				"userName"
				"userEmail"
				"userComments"
				"btn";
		}

		.textBox.wrapper {
			padding: 6rem 3rem;
		}

		.commentsSection {
			padding: 0;
		}

		aside {
			.ourMission {
				margin: 0;
			}
		}
	}

	@media (max-width: 550px) {
		nav {
			display: none;
		}

		.burgerMenu {
			display: block;
		}

		p,
		a {
			font-size: 2.5rem;
		}

		aside {
			height: 100%;
			padding: 6rem 0;

			.textBoxesContainer {
				flex-direction: column;
				align-items: center;
			}

			.recentPosts {
				margin: 0;
			}
		}
	}

	@media (max-width: 450px) {
		a,
		p,
		h3 {
			font-size: 2rem;
		}

		.commentsSection {
			padding: 0;
		}

		.mainContent .commentFlex {
			flex-direction: column;

			.imgBox {
				margin-left: 2rem;
			}
		}

		aside {
			.textBoxesContainer {
				padding: 0 6rem;
			}
			.textBox {
				width: 100%;
			}
		}
	}
}
