.logo {
  font-family: "Tulpen One", cursive;
  font-size: 4.5rem;
}

.lnk {
  font-family: "Tulpen One", cursive;
  font-size: 3.8rem;
  text-transform: capitalize;
  background-color: $darkAccent;
  line-height: 4rem;
  padding: 5px 5rem;
}
