.logo {
	font-family: "Tulpen One", cursive;
	font-size: 4.5rem;
}

.lnk,
button {
	font-family: "Tulpen One", cursive;
	font-size: 3.8rem;
	text-transform: capitalize;
	background-color: $darkAccent;
	line-height: 4rem;
	padding: 5px 5rem;

	#{$aTagsHover} {
		background-color: darken($darkAccent, 10%);
	}
}

// FORM STYLING
form {
	width: 100%;
	display: grid;
	grid-template-rows: auto 25rem auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"userName userEmail"
		"userComments userComments"
		"btn btn";
	gap: 4rem;

	label,
	input {
		padding-left: 3rem;
	}

	input,
	textarea {
		width: 100%;
		color: white;
		font-size: 2.5rem;
	}

	.userNameBox {
		grid-area: userName;
	}

	.userEmailBox {
		grid-area: userEmail;
	}

	input {
		height: 4rem;
		border: none;
	}

	textarea {
		grid-area: userComments;
		padding: 3rem;
		resize: none;

		&::placeholder {
			font-family: $baseFont;
			font-size: 3.9rem;
			color: white;
			opacity: 1;
		}
	}

	button {
		grid-area: btn;
		color: white;
		border: none;
		display: block;
		width: 100%;
		text-align: center;

		#{$aTagsHover} {
			background-color: $darkAccent;
		}
	}
}
