.contactBody {
	height: 100vh;

	.contactHeader {
		display: flex;
		align-items: center;
		height: 50vh;
		background-image: url(../../bar-final-assets/contact-header-1.jpg);
		background-size: cover;
	}

	.contactMain {
		height: 50vh;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;
		align-items: center;
	}

	.addressesBox a {
		#{$aTagsHover} {
			color: $lightAccent;
		}
	}

	.formSection {
		width: 65%;
		background-color: $backgroundColorSecondary;
		-webkit-box-shadow: 2.2rem 2.2rem 0px 0px rgba(255, 131, 39, 1);
		-moz-box-shadow: 2.2rem 2.2rem 0px 0px rgba(255, 131, 39, 1);
		box-shadow: 2.2rem 2.2rem 0px 0px rgba(255, 131, 39, 1);

		position: relative;
		top: -15rem;

		input,
		textarea {
			background-color: $backgroundColorSecondary;
		}

		input {
			border-bottom: solid 2px white;
		}

		textarea {
			border: solid 2px white;
		}
	}

	.contactInfoSection {
		width: 30%;
		font-weight: 400;
		font-size: 3.9rem;
		letter-spacing: 1.9px;
		line-height: 3rem;

		.socialMedia {
			width: 150px;
			display: flex;
			justify-content: space-between;

			a {
				font-size: 2rem;

				#{$aTagsHover} {
					color: $lightAccent;
				}
			}
		}
	}

	// MEDIA QUERIES
	@media (max-width: 1000px) {
		.contactHeader {
			height: 30vh;
		}

		.contactMain {
			height: 80vh;
			padding: 8rem;
		}

		.formSection {
			position: static;
			margin-bottom: 2rem;
		}

		form {
			@include formSmall();
		}
	}

	@media (max-width: 740px) {
		nav {
			display: none;
		}

		.burgerMenu {
			display: block;
		}
		.contactHeader {
			justify-content: center;
			height: 20vh;
		}

		h2 {
			font-size: 6rem;
			color: $lightAccent;
			margin-top: 4rem;
		}

		.contactMain {
			p,
			a {
				font-size: 2.5rem;
			}
		}

		.innerWrapper {
			padding: 0;
		}

		.contactMain {
			height: 100%;
			padding: 4rem 6rem;
			flex-direction: column;
			padding: 0;
		}

		.formSection {
			width: 100%;
			height: 50%;
			-webkit-box-shadow: 1rem 1rem 0px 0px rgba(255, 131, 39, 1);
			-moz-box-shadow: 1rem 1rem 0px 0px rgba(255, 131, 39, 1);
			box-shadow: 1rem 1rem 0px 0px rgba(255, 131, 39, 1);
		}

		.contactInfoSection {
			padding-top: 4rem;
			width: 100%;
		}

		address {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;

			.toggleBreak {
				display: none;
			}

			.addressesBox {
				padding-left: 8rem;
			}
		}

		.socialMedia {
			padding-bottom: 4rem;
		}
	}

	footer a {
		font-size: 3.9rem;
	}

	@media (max-width: 550px) {
		.contactMain {
			.sectionWrapper {
				padding: 2rem;
			}
		}

		.formSection {
			box-shadow: none;
		}
	}
}
