.homeHeader {
	// * {
	//   @include devBorder(orangered);
	// }
	position: relative;

	// @include devBorder(orangered);
	height: 95vh;

	.headerContent {
		height: 100%;
		background-image: url("../../bar-final-assets/home-image-1.jpg");
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-family: "Tulpen One", cursive;
		font-size: 26.14rem;
		color: #ff8327;
		margin: 0;
	}

	h3 {
		@include subHeaderFont(8.32);
		position: relative;
		top: -6rem;
		left: 1rem;
	}

	.feature {
		// @include devBorder(yellow);
		text-align: center;
		// height: 100%;
		// width: 390px;
		text-align: left;
		z-index: 10;
		padding-top: 4rem;
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
	}

	.offsetImg {
		width: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}
