.homeHeader {
	position: relative;

	height: 95vh;

	.headerContent {
		height: 100%;
		background-image: url("../../bar-final-assets/home-image-1.jpg");
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-family: "Tulpen One", cursive;
		font-size: 26.14rem;
		color: #ff8327;
		margin: 0;
	}

	h3 {
		@include subHeaderFont(8.32);
		position: relative;
		top: -6rem;
		left: 1rem;
	}

	.feature {
		text-align: center;
		text-align: left;
		z-index: 10;
		padding-top: 4rem;
	}

	.offsetImg {
		width: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	@media (max-width: 900px) {
		.offsetImg {
			bottom: 20%;
		}
	}

	@media (max-width: 600px) {
		h1 {
			font-size: 20rem;
		}

		h3 {
			font-size: 6rem;
			padding-top: 2rem;
		}

		nav {
			display: none;
		}

		.burgerMenu {
			display: block;
		}

		.offsetImg {
			display: none;
		}
	}
}
