nav {
  ul {
    // @include devBorder(orangered);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  li {
    // @include devBorder(lightblue);
    font-size: 2.9rem;
    letter-spacing: 1.9px;
    line-height: 3rem;
    margin: 0 5px;

    &:not(:nth-of-type(3)) {
      text-transform: uppercase;
    }
  }

  a {
    // @include devBorder(yellow);
    padding: 5px 1rem;

    #{$aTagsHover} {
      color: $lightAccent;
    }
  }
}
