// SECTIONS GENERAL STYLING
section {
  h2 {
    @include subHeaderFont(5.8);
    letter-spacing: 2.2px;
  }

  p {
    margin: 1rem 0 3rem;
  }
}

// SERVICES SECTION (1ST)
.servicesSection {
  padding: 10rem 0;
  .servicesContainer {
    @include devBorder(lightblue);
    display: flex;
    flex-wrap: wrap;
  }

  .serviceBox {
    @include devBorder(yellow);
    flex-basis: 50%;
    display: flex;
    position: relative;
  }

  .iconBox {
    margin: 5px 1rem;
  }

  .iconStack {
    position: relative;
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 3.8rem;
    vertical-align: middle;

    &1x,
    &2x {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
    }

    &1x {
      line-height: inherit;
    }

    &2x {
      font-size: 4rem;
      color: $darkAccent;
    }
  }
}

// PLAN AHEAD & NEW LOCATIONS SECTION (2ND)
.planLocationsSection {
  background-color: $backgroundColorSecondary;

  .contentContainer {
    @include devBorder(orangered);
  }

  .contentBox {
    @include devBorder(royalblue);
    margin: 0 auto 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > [class$="Box"] {
      width: 45%;
    }

    // p {
    //   margin-bottom: 3rem;
    // }
  }

  .locationsBox {
    flex-direction: row-reverse;
    text-align: right;

    p {
      text-align: left;
    }
  }

  .imgBox {
    @include devBorder(yellow);
    background-color: $lightAccent;

    img {
      position: relative;
    }
  }

  .planBox img {
    top: -2.5rem;
    left: -2.5rem;
  }

  .locationsBox img {
    top: -2.5rem;
    right: -2.5rem;
  }
}

// HOST PARTY SECTION (3RD)
.hostPartySection {
  background-color: $backgroundColorPrimary;

  .contentContainer {
    text-align: center;
    padding: 5rem 4rem;

    h2 {
      color: $lightAccent;
    }
  }
}
