// SECTIONS GENERAL STYLING
.homeBody {
	section {
		h2 {
			@include subHeaderFont(5.8);
			letter-spacing: 2.2px;
		}

		p {
			margin: 1rem 0 3rem;
		}
	}

	// SERVICES SECTION (1ST)
	.servicesSection {
		.servicesContainer {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.serviceBox {
		flex-basis: 50%;
		display: flex;
		position: relative;
	}

	.iconBox {
		margin: 5px 1rem;
	}

	.iconStack {
		position: relative;
		display: inline-block;
		width: 4.5rem;
		height: 4.5rem;
		line-height: 3.8rem;
		vertical-align: middle;

		&1x,
		&2x {
			position: absolute;
			left: 0;
			width: 100%;
			text-align: center;
		}

		&1x {
			line-height: inherit;
		}

		&2x {
			font-size: 4rem;
			color: $darkAccent;
		}
	}

	// PLAN AHEAD & NEW LOCATIONS SECTION (2ND)
	.planLocationsSection {
		background-color: $backgroundColorSecondary;

		.wrapper {
			padding: 0;
		}

		.contentBox {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& > [class$="Box"] {
				width: 45%;
			}
		}

		.imgBox {
			position: relative;

			img {
				position: relative;
			}
		}

		.planBox {
			margin: 0 auto 3rem;

			img {
				top: -$imgOffset;
				left: -$imgOffset;
				@include boxShadow($imgOffset, $imgOffset, $lightAccent);
			}

			.textBox {
				padding-right: 6rem;
			}
		}

		.locationsBox {
			flex-direction: row-reverse;
			text-align: right;

			p {
				text-align: left;
			}

			.textBox {
				padding-left: 6rem;
			}

			img {
				top: -$imgOffset;
				right: -$imgOffset;
				@include boxShadow(-$imgOffset, $imgOffset, $lightAccent);
			}

			.imgBox {
				top: 2 * $imgOffset;
			}
		}
	}

	// HOST PARTY SECTION (3RD)
	.hostPartySection {
		background-color: $backgroundColorPrimary;
		padding: 5rem 4rem;

		.contentContainer {
			text-align: center;

			h2 {
				color: $lightAccent;
			}
		}
	}

	// PINT IMAGE SECTION (4TH)
	.pintSection {
		.imageContainer {
			width: 100%;
		}
	}

	// EVENTS SECTION (5TH)
	.eventsSection {
		padding: 5rem 4rem;
		.contentContainer {
			display: flex;
			justify-content: space-between;
		}

		.imgBox {
			width: 25%;
		}

		img {
			@include boxShadow(-$imgOffset, $imgOffset, $lightAccent);
		}

		.textBox {
			width: 65%;
		}
	}

	// GALLERY SECTION (6TH)
	.gallerySection {
		background-color: $backgroundColorSecondary;
		padding: 5rem 4rem;

		.gallery {
			display: grid;
			grid-template-columns: auto-fill(200px, 1fr);
			grid-template-areas: "img1 img2 img3";
			gap: 3rem;
		}

		.img1 {
			grid-area: img1;
		}

		.img2 {
			grid-area: img2;
		}

		.img3 {
			grid-area: img3;
		}

		li {
			position: relative;
			overflow: hidden;

			.jokes {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				visibility: hidden;
				opacity: 0;
				background-image: url(../../bar-final-assets/monkey.jpg);
				background-size: cover;

				transition: visibility 5s, opacity 3s;
				z-index: 10;
			}

			img {
				transition-property: transform, opacity;
				transition-duration: 0.5s;
				transition-timing-function: ease-in;
			}

			#{$aTagsHover} img,
			#{$aTagsHover} .jokes {
				transform: scale(1.2);
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// MEDIA QUERIES
	@media (max-width: 1200px) {
		.planLocationsSection {
			padding: 6rem;
		}
	}

	@media (max-width: 900px) {
		p,
		a {
			font-size: calc(2rem + 1vw);
		}

		.lnk {
			margin: 5px 0;
			padding: 5px 3rem;
		}

		.planLocationsSection {
			p {
				margin-bottom: 1rem;
			}

			.imgBox,
			img {
				position: static;
			}
		}

		.eventsSection {
			.imgBox {
				display: flex;
				align-items: center;
			}
		}
	}

	@media (max-width: 730px) {
		.sectionWrapper {
			padding: 2rem;
		}

		.planLocationsSection {
			.locationsBox,
			.planBox {
				.textBox {
					padding: 0;
					text-align: center;
				}
			}
			.planBox img {
				@include boxShadow($imgOffsetSmall, $imgOffsetSmall, $lightAccent);
			}

			.locationsBox img {
				@include boxShadow(-$imgOffsetSmall, -$imgOffsetSmall, $lightAccent);
			}
		}

		.eventsSection {
			.imgBox img {
				@include boxShadow(-$imgOffsetSmall, $imgOffsetSmall, $lightAccent);
			}
		}

		.gallerySection {
			.gallery {
				grid-template-areas:
					"img2 img3"
					"img1 img1";
			}
		}
	}

	@media (max-width: 600px) {
		.sectionWrapper {
			padding: 6rem 0;
		}

		.outerWrapper {
			padding: 0;
		}

		.servicesSection {
			padding: 0;
		}

		.servicesContainer {
			// display: block;
			flex-wrap: nowrap;
			flex-direction: column;
		}

		.planLocationsSection {
			padding: 6rem 0;

			.contentBox > [class$="Box"] {
				width: 95%;
			}

			.planBox,
			.locationsBox {
				flex-direction: column;
			}

			.textBox h2,
			.textBox p {
				text-align: center;
			}

			.imgBox,
			img {
				margin: 2rem 0 0;
				position: static;
			}

			.planBox .imgBox {
				padding-left: 3rem;
			}

			.locationsBox .imgBox {
				padding-right: 3rem;
			}
		}

		.hostPartySection {
			padding: 0;
			.contentContainer {
				width: 95%;
			}
		}

		.eventsSection {
			padding: 0;

			.textBox {
				width: 95%;
			}
			.contentContainer {
				flex-direction: column;
				align-items: center;
			}
			.imgBox {
				margin-bottom: 2rem;
			}
		}
	}

	@media (max-width: 450px) {
		.gallerySection {
			.gallery {
				grid-template-areas:
					"img1"
					"img2"
					"img3";
			}
		}
	}
}
