// VARIABLES
// Fonts
$baseFont: "Chathura", sans-serif;

// Colors
$backgroundColorPrimary: #111010;
$backgroundColorSecondary: #220303;
$lightAccent: #ff8327;
$darkAccent: #bf2603;

// Selectors
$aTagsHover: "&:active, &:hover";

// MIXINS

// border visualization for testing stage
@mixin devBorder($borderColor) {
	border: solid 1px $borderColor;
}

// font style for subtitles
@mixin subHeaderFont($sizeValue) {
	font-size: $sizeValue * 1rem;
	font-family: $baseFont, sans-serif;
	font-weight: 700;
}

// vertical + horizontal centering w/ flexbox
@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

// form for smaller screens
@mixin formSmall() {
	grid-template-rows: auto auto 25rem;
	grid-template-columns: 1fr;
	grid-template-areas:
		"userName"
		"userEmail"
		"userComments"
		"btn";

	label,
	input,
	textarea,
	textarea::placeholder {
		font-size: 2.5rem;
	}
}
